#about {
    height: 100vh;
    min-height: 45rem;
    padding-top: 2rem;
    overflow: hidden;
    z-index: 0;
  }

  .about__container {
    text-align: center;
    height: 100%;
    position: relative;
  }