header {
  height: 100vh;
  min-height: 60rem;
  padding-top: 6rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* == CTA == */

.cta {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* == HEADER SOCIALS == */

.header__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.header__socials > a {
  color: var(--variant-bg-color);
  font-size: 1.5rem;
}

.header__socials > a:hover {
  color: white;
  scale: 1.2;
}

.header__socials > a:active {
  color: white;
  scale: 1.2;
}

.header__socials > a:focus {
  color: white;
  scale: 1.2;
}

/* == ME == */

.img-container {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-content: center;
}

.me {
  /*background: var(--accent-color);*/
  width: 30rem;
  margin-top: 2rem;
  overflow: hidden;
  background: var(--variant-bg-color);
  border-radius: 50%;
}

/* == MEDIA QUERIES (MEDIUM DEVICES) == */
@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 1080px) {
  /* .me {
    width: 80%;
    height: auto;
  } */
}

/* == MEDIA QUERIES (SMALL DEVICES) == */
@media screen and (max-width: 600px) {
  header {
    min-height: 45rem;
  }
  .me {
    width: 20rem;
  }
}

@media screen and (max-width: 340px) {
  .cta {
    gap: 1rem;
  }

  .btn {
    width: 8rem;
    border-radius: 2rem;
    font-size: 0.6rem;
  }
}
