code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  h1 {
    font-size: 8rem;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .App {
    padding: 0 var(--content-edge-margin);
    display: flex;
    align-items: center;
    height: 100vh;
  }
  
  .accent {
    color: var(--accent-color);
  }
  
  .menu-item {
    transition: transform 200ms ease-in-out;
  }
  
  .menu-item:hover, .menu-item:focus {
    cursor: pointer;
  }

  .title-container {
      height: 3.8em;
      width: 30rem;
      overflow: hidden;
      position: relative;
  }

  .title-item {
      font-size: 3rem;
      display: flex;
      align-items: center;
      font-weight: 300;
  }

  .upper-title {
    animation: hideInOutUpper infinite 10s ease-in-out;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .lower-title {
    animation: hideInOutLower infinite 10s ease-in-out;
    position: absolute;
    top: 0;
  }

@keyframes hideInOutUpper {
    0% {
        opacity: 100%;
    }
    10% {
        opacity: 0%;
    }
    50% {
        opacity: 0%;
    }
    85% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes hideInOutLower {
    0% {
        opacity: 0%;
    }
    40% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    65% {
        opacity: 0%;
    }
    100% {
        opacity: 0%;
    }
}

.material-symbols-rounded {
  font-size: 3em;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.menu-icon:hover {
  cursor: pointer;
}

.menu-icon:active {
  font-size: 3.5em;
  opacity: 50%;
}

  @media only screen and (max-width: 850px) {
    h1 {
      font-size: 4.5rem;
    }

    .title-container {
      height: 3em;
      width: 20rem;
    }

    .title-item {
      font-size: 1.5rem;
    }

    .App {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }

    .home-container {
      width: 75%;
    }
    .material-symbols-rounded {
      font-size: 3em;
      position: absolute;
      top: 1rem;
      left: 1rem;
    }

    .menu-icon:hover {
      cursor: pointer;
    }

    .menu-icon:active {
      font-size: 3.5em;
      opacity: 50%;
    }
  }