@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    @apply font-poppins;
  }
}
html {
  scroll-behavior: smooth;
}
@layer components {
  .about-box {
    @apply dark:border-2 rounded-xl p-6 flex gap-4 border-[#212425];
  }
  .after-effect {
    @apply text-7xl font-bold font-robotoSlab inline-block relative after:absolute transform after:-translate-y-[50%] after:bg-gradient-to-r from-accent-color to-variant-bg after:h-0.5 after:rounded-md after:content-[""] md:after:w-48  after:top-[50%] dark:text-white;
  }
  .button-horizontal-after {
    @apply relative after:absolute after:content-[""] after:bg-accent-light dark:after:bg-[#212425] after:h-0.5 after:rounded-md;
  }
  .button-vertical-after {
    @apply relative after:absolute after:content-[""] after:bg-accent-light dark:after:bg-[#212425] after:w-0.5 after:rounded-md;
  }
  .resume-btn {
    @apply bg-[#EDF2F2] cursor-default px-5 py-2 rounded-lg  text-gray-lite dark:bg-[#1C1C1C] dark:text-[#A6A6A6];
  }
  .socialbtn {
    @apply w-10 h-10 rounded-lg text-accent-color flex justify-center items-center bg-[#F3F6F6] dark:bg-[#212425];
  }
}
#root {
  overflow: hidden;
}

html {
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar, .scroll-bar::-webkit-scrollbar {
  display: fixed;
  background-color: #2b2b2b;
  width: 5px;
}

body::-webkit-scrollbar-thumb, .scroll-bar::-webkit-scrollbar-thumb{
  background-color: #4d4d4d;
}

/* Hide scrollbar for IE, Edge and Firefox */
body, .scroll-bar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
