nav {
    background: rgba(0, 0, 0, 0.5);
    width: max-content;
    height: calc(max-content + 1rem);
    display: flex;
    gap: 0.8rem;
    padding: 0.7rem 1.7rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 0.6rem;
    border-radius: 50%;
    display: flex;
    color: var(--accent-color);
    font-size: 1.4rem;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.5);
    scale: 1.2;
}

nav a.active {
    background: var(--primary-bg-color);
    color: white;
    scale: 1.2;
}